{% extends 'quiz/base.html' %}

{% block content %}
<div class="container mt-sm-5 my-1">
    <form action="result" method="POST">
        <div>
            <div>
                {% for question in quiz %}
                <div class="card m-3">
                    <div class="card-header">
                        {{ forloop.counter }}. {{ question }}
                    </div>
                    <div class="card-body shadow p-3">
                    {% for key, option in question.details.items %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ option }}" checked>
                        <label class="form-check-label" for="{{ option }}">
                        {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %} 
            </div>     
    </div>
    <button type="submit" class="btn btn-success m-3">Success</button>
    </form>
</div>

{% endblock %}