{% extends 'quiz/base.html' %}

{% block content %}
<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5">
            {% for question in quiz %}
                <h3>{{ question }}</h3>
                {% for key, option in question.details.items %}
                    <p>{{ option }}</p>
                {% endfor %}
            {% endfor %}
            <div class="d-flex align-items-center pt-3">
                <div class="ml-auto mr-sm-5"><button class="btn btn-success">Check answers</button></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}